<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nista - Chat</title>
    <link type="image/png" sizes="16x16" rel="icon" href="{{ url_for('static', filename='assets/bowTie.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat.css') }}" >
    <script defer src="{{ url_for('static', filename='scripts/chat.js') }}" ></script>

</head>
<body>


    <div id="dummyHeader"> <!--A dummy div that occupies the same space as the header 
        this lets the elements below it stay in its proper place
        without the need for responsive margins (tedious to do)-->
        <img src="{{ url_for('static', filename='assets/bowTie.png') }}">

    </div>

    <header>
        
        <nav id="topNavBar">
            <div id="topBarLeft">
                <img src="{{ url_for('static', filename='assets/bowTie.png') }}">
                <p id="logoText" class="nistaFont">Nista</p>
            </div>
            
        </nav>

    </header>

    <section id="mainContent" class="comeFromBottom">

        <div id="chatContainer">
            <p class="message ai">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi at asperiores dicta dignissimos fugiat reiciendis! Asperiores minima, dolore quibusdam perferendis aperiam, provident fugit distinctio, deleniti tempore pariatur quos quo doloribus?</p>
            <p class="message human">testing</p>
            <p class="message ai">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi at asperiores dicta dignissimos fugiat reiciendis! Asperiores minima, dolore quibusdam perferendis aperiam, provident fugit distinctio, deleniti tempore pariatur quos quo doloribus?</p>
            <p class="message human">testing</p>
            <p class="message ai">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi at asperiores dicta dignissimos fugiat reiciendis! Asperiores minima, dolore quibusdam perferendis aperiam, provident fugit distinctio, deleniti tempore pariatur quos quo doloribus?</p>
            <p class="message human">testing</p>
        </div>
        <div id="textInputContainer">
            <textarea id="textInput" columns = "1" placeholder="Talk to Nista"></textarea>
            <button id="sendButton"><img id="sendIcon" src="{{ url_for('static', filename='assets/sendIcon.png') }}"></button>
        </div>

    </section>



</body>
</html>