<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nista - Home</title>
    <link type="image/png" sizes="16x16" rel="icon" href="{{ url_for('static', filename='assets/bowTie.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" >
    <script defer src="{{ url_for('static', filename='scripts/index.js') }}" ></script>

</head>
<body>

    <div id="dummyHeader"> <!--A dummy div that occupies the same space as the header 
                        this lets the elements below it stay in its proper place
                        without the need for responsive margins (tedious to do)-->
                        <img src="{{ url_for('static', filename='assets/bowTie.png') }}">
                
    </div>

    <header>
        
        <nav id="topNavBar">
            <div id="topBarLeft">
                <img src="{{ url_for('static', filename='assets/bowTie.png') }}">
                <p id="logoText" class="nistaFont">Nista</p>
            </div>
            <div id="topBarRight">
                <button id="updateProfile" class="hide appear">Update Profile</button>
            </div>
            
        </nav>

    </header>

    <section id="mainContent">

        <div id="centerContentContainer">
            <p id="contentHeading" class="nistaFont comeFromLeft">Nista</p>
            <p id="captionText" class="defaultText comeFromRight">Your Personal AI Stylist</p>
        </div>
        
        <div id="contentLinkContainer" class="comeFromBottom">
            <a id="signUpLink" class="hide" href="/createProfile">Set Up Profile!</a>
            <a id="goToChat" class="hide" href="/chat">Talk to Nista</a>
        </div>
        
    </section>



</body>
</html>