<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nista - Profile</title>
    <link type="image/png" sizes="16x16" rel="icon" href="{{ url_for('static', filename='assets/bowTie.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/signUp.css') }}" >
    <script defer src="{{ url_for('static', filename='scripts/signUp.js') }}" ></script>

</head>
<body>
    
    <!--mode is either creation or updation-->

    <div id="dummyHeader"> <!--A dummy div that occupies the same space as the header 
        this lets the elements below it stay in its proper place
        without the need for responsive margins (tedious to do)-->
        <img src="{{ url_for('static', filename='assets/bowTie.png') }}">

    </div>

    <header>
        
        <nav id="topNavBar">
            <div id="topBarLeft">
                <img src="{{ url_for('static', filename='assets/bowTie.png') }}">
                <p id="logoText" class="nistaFont">Nista</p>
            </div>
            <div id="topBarRight">
                <button id="deleteProfile" class="hide appear">Delete Profile</button>
            </div>
            
        </nav>

    </header>
    <section id="mainContent" class="comeFromLeft">
        <p id="formHeading">Profile {{ mode }}</p>
        
        <form id="imgForm" class="inputForm">

            <p class="formLabel"> Upload an image to autofill fields!</p>

            <label for="imgInput" class="inputButton">Upload Image</label>
            <input id="imgInput" type="file" name="imgInput" accept="image/*"/>

            <p id="imgProcessStatus" class="defaultText">   </p>

        </form>

        <form id="textForm" class="inputForm">

            <label for="nameInput" class="formLabel">Name</label>
            <input type="text" class="inputBox" name="nameInput" id="nameInput" required>
            
            <label for="ageInput" class="formLabel">Age</label>
            <input type="number" class="inputBox" name="ageInput" id="ageInput" required>

            <label for="genderInput" class="formLabel">Gender</label>
            <input type="text" class="inputBox" name="genderInput" id="genderInput" required>

            <label for="ethnicityInput" class="formLabel">Ethnicity</label>
            <input type="text" class="inputBox" name="ethnicityInput" id="ethnicityInput" required>

            <label for="skinInput" class="formLabel">Skin tone</label>
            <input type="text" class="inputBox" name="skinInput" id="skinInput" required>

            <label for="heightInput" class="formLabel">Height (cm)</label>
            <input type="number" class="inputBox" name="heightInput" step="0.1" id="heightInput" required>

            <label for="sHRIInput" class="formLabel">Shoulder to Hip Ratio</label>
            <input type="number" class="inputBox" name="sHRIInput" step="0.01" id="sHRIInput" required>

            <label for="hHRIInput" class="formLabel">Hip to Height Ratio</label>
            <input type="number" class="inputBox" name="hHRIInput" step="0.01" id="hHRIInput" required>
            
            <label for="preferenceInput" class="formLabel">Clothing Preferences</label>
            <textarea id="preferenceInput" class="inputBox" name="preferenceInput" placeholder="Enter your clothing preferences" required></textarea>

            <input type="submit" class="inputButton" value="Register">

        </form>
        
        
    </section>
    
</body>
</html>