@font-face {
    font-family: 'Afacad Flux';
    font-style: normal;
    font-weight: 100 900;
    src: url('../fonts/AfacadFlux-VariableFont_slnt,wght.ttf') format('truetype-variations');
}
@font-face {
    font-family: 'Dosis';
    font-weight: 100 900;
    src: url('../fonts/Dosis-VariableFont_wght.ttf') format('truetype-variations');
}
@font-face {
    font-family: 'Sacramento';
    font-style: normal;
    font-weight: 100 900;
    src: url('../fonts/Sacramento-Regular.ttf') format('truetype-variations');
}

*{
    font-family: 'Dosis',sans-serif,system-ui;
    font-size: 1rem;  
    margin:0;
    padding:0;
    --nistaLavender: rgb(251, 205, 255);
    --nistaLavenderHover: rgb(248, 172, 255);
    --nistaLavenderActive: rgb(249, 219, 252);
}

/*
color pallete
blueviolet
pink
orange
lavender
*/

html{

    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-image: radial-gradient(49% 81% at 45% 47%,#FF000045 0%, #073AFF00 100%),radial-gradient(113% 91% at 17% -2%, #FF8A8AAD 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FF008DFF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FF8700FF 1%, #FFA20000 99%),radial-gradient(142% 91% at 111% 84%, #FF00DEFF 1%, #FFFFFFFF 100%);
    background-size: cover;
    background-position: center;
}
body{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.defaultText{
    font-size: 1.2rem;
}

#topNavBar{
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: 0px 1px 10px rgb(70, 70, 70, 0.5);
}
#topBarLeft{
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

#logoText{
    padding-top: 5%;
    margin-left: 2vw;
    vertical-align: center;
    font-size: 4rem;
    cursor: pointer;
}

#dummyHeader{
    opacity: 0;
    padding: 1%;
    margin: 1%;
}

#mainContent{
    flex-basis: 80%;
    flex-grow: 1;
    box-shadow: 0px 1px 10px rgba(70, 70, 70, 0.5);
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(254, 248, 255, 0.464);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin: 5%;
    margin-top: 1%;
    transition: 1s ease;
    min-height: 74vh;
    min-width: 90vw;
}

#textInputContainer{
    flex-basis: 15%;
    width: 95%;
    display: flex;
    margin-top: auto;
    align-items: center;
}

#textInput{
    max-height: 6vh;
    flex-basis: 90%;
    text-align: left;
    font-size: 1.75rem;
    margin: 1%;
    padding: 1%;
    border: none;
    border-radius: 10px;
    resize: none;
}
#textInput:focus{
    
    outline-color: blueviolet;
}


#sendButton{
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--nistaLavender);
    border: none;
    border-radius: 50px;
    padding: 1%;
    max-width: 10vh;
    max-height: auto;
}


#chatContainer{
    flex-basis: 85%;
    display: flex;
    flex-direction: column;
    min-width: 90vw;
    min-height: 60vh;
    max-height: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
}



#sendButton:hover{
    cursor: pointer;
    background-color: var(--nistaLavenderHover)
    
}
#sendButton:active{
    cursor: pointer;
    background-color: var(--nistaLavenderActive)
    
}
#sendIcon{
    width: 100%;
    max-width: 60%;
    height: auto;
}

.message{
    opacity: 1;
    text-align: left;
    background-color: var(--nistaLavender);
    width: fit-content;
    max-width: 60%;
    height: fit-content;
    border-radius: 10px;
    padding: 1%;
    border: none;
    font-size: 1.5rem;
    color: blueviolet;
    margin: 1% 5%;
    transition: 0.5s ease;
}

.human{
    
    margin-left: auto;
}

.ai{
    margin-right: auto;
}

.nistaFont{
    font-family: 'Sacramento';
}

.comeFromTop{
    
    opacity: 0;
    transform: translateY(-1vh);
}

.comeFromBottom{
    
    opacity: 0;
    transform: translateY(1vh);
}

.hide{
    display: none;
}

ul{
    overflow: hidden;
}

ol{
    overflow: hidden;
}

@media (max-width: 1000px){
    #mainContent{
        margin-top: 2%;
        min-height: 76vh;
    }
    #chatContainer{
        min-height: 64vh;
    }
}

@media (max-width: 800px){
    #mainContent{
        margin-top: 3%;
        min-height: 76vh;
    }
    #chatContainer{
        min-height: 67vh;
    }
    .message{
        padding: 1.5%;
    }
}

@media (max-width: 600px){
    #mainContent{
        margin-top: 5%;
        min-height: 78vh;

    }
    
}



@media (max-width: 470px){
    #mainContent{
        margin-top: 8%;
        min-height: 78vh;

    }
}


@media (max-width: 400px){
    #mainContent{
        margin-top: 10%;

    }
    #chatContainer{
        min-height: 70vh;
    }
    .message{
        padding: 2%;
    }
}
